@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.button__primary {
  font-family: 'Nunito Sans', sans-serif;
  background: rgb(63, 125, 232);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  max-width: 100px;
  max-height: 40px;
  align-self: center;
  cursor: pointer;
  margin-right: 5vh;
}

.textarea__primary {
  resize: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  color: black;
  border: 1px solid #93a6b5;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 90%;
  height: 90vh;
  margin-left: 5vh;
  background-color: #93a6b5;
}

.title__primary {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(256, 256, 256);
  margin-left: 5vh;
}

.main__div {
  display: flex;
  flex-direction: row;
}

.first__div {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #1a2437fe;
  height: 100vh;
}

.second__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.third__div {
  display: flex;
  flex-direction: column;
  background-color: #1b2538;
  width: 100vh;
}

.tc__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tc__title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(256, 256, 256);
  margin-bottom: -2vh;
  margin-left: 5vh;
}

.tc__first__title {
  margin-top: 1vh;
  color: #1a2437;
}

.tc__subtitle {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #93a6b5;
  margin-left: 5vh;
}

.tc__error {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ff0000;
  margin-left: 5vh;
}

.not__found__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a2437;
  height: 100vh;
}

.not__found {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #93a6b5;
  margin-left: 5vh;
  margin-top: 20vh;
}

